html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    background-color: #F1E1C8;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex-grow: 1;
    padding: 5%;
}

a.logo img {
    width: 100px;
    height: auto;
}

.hover-image {
    width: 100px;
    height: auto;
    transition: opacity 0.7s ease;
    position: absolute;
}

.original {
    opacity: 1;
}

.inverted {
    opacity: 0;
}

a.logo:hover .original {
    opacity: 0;
}

a.logo:hover .inverted {
    opacity: 1;
}

button.button {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: larger;
    font-weight: 300;
    background-color: #9D2933;
    border-color: #9D2933;
}

button.button:hover {
    background-color: #C53440;
    border-color: #C53440;
}

a.home {
    color:#000;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px; 
    font-family: Garamond;
    font-size: 30px;
    align-items: center;
}

a.home.is-selected {
    color:#6f6f6f;
    font-family: Garamond;
    font-size: 30px;
    align-items: center;
}


h2.art_title {
    color: #000;
    text-align: left;
    font-family: Garamond;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

div.artist_panel {
    background: #EEEAE4;
    justify-content: left;
    align-items: left;
    color: #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.art_panel {
    background: #EEEAE4;
    justify-content: left;
    align-items: left;
    color: #000;
}

div#panel_padding {
    padding: 20px;
    background-color: #EEEAE4;
    border-radius: 10px;
}

h3.name {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

h4.desc {
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px; 
}

a:hover {
    color: #6f6f6f !important;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px; 
}

.info-icon {
    display: inline-block;
    font-size: 16px;
    color: #262626;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}

.info-icon i {
    vertical-align: middle;
}

.info-icon .popup {
    visibility: hidden;
    opacity: 0;
    background: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    top: 25px;
    left: 0;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-family: Inter, sans-serif;
    font-size: smaller;
    font-weight: 300;
}

.info-icon:hover .popup,
.info-icon:focus .popup {
    visibility: visible;
    opacity: 1;
}

div#extract {
    max-width: 100%;
    white-space: normal; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 15px; 
    word-break: break-word; 
    display: block; 
}
