<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
</head>
<body>
    <div class="index_container">
        <h1>Welcome to the Hyperlink Metropolitan Museum</h1> 
        <a href="/hyperMuseum" class="no-decoration">
            <button class="button-styled">Enter the Hyper Museum</button>
        </a>
    </div>
</body>
</html>