<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/hypmet.png') }}">
    <title>Welcome | Hyperlink Metropolitan Museum</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <div class="page-container">
        <div class="columns">
            <div class="column is-narrow" style="margin-right: 30px; min-width: 100px; min-height: 100px;">
                <a class="logo" href="/index">
                    <img 
                        src="{{ url_for('static', filename='images/hypmethigh.png') }}" 
                        alt="Logo"
                        class="hover-image original"
                    >
                    <img 
                        src="{{ url_for('static', filename='images/hypmethighinvert.png') }}" 
                        alt="Logo Inverted"
                        class="hover-image inverted"
                    >
                </a>
            </div>
        </div>
        
        <div class="columns" style="margin-top: 50px;">
            <div class="column is-full">
                <h1 id="welcome">Welcome to the</h1>
                <h1 id="welcome">Hyperlink Metropolitan Museum</h1>
            </div>
        </div>

        <div class="columns is-vcentered" style="margin-top: 30px;">
            <div class="column is-narrow">
                <a href="/hyperMuseum" class="no-decoration" style="margin-top: 30px;">
                    <button class="button">Jump in</button>
                </a>
            </div>
            <div class="column is-narrow">
                <h2 class="page-text">or</h2>
            </div>
            <div class="column is-narrow">
                <a href="/browse/departments" class="no-decoration" style="margin-top: 30px;">
                    <button class="button">Browse by Department</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>